.ButtonGrid-box {
    .ButtonGrid-loading {
        animation: ButtonGrid-logo-spin infinite 10s linear;
        height: 7vmin;
        align-self: center;
    }
    
    @keyframes ButtonGrid-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }        

    .ButtonGrid-layout {
        background-color: lightsteelblue;
        display: flex;
        flex-direction: column;    

        .ButtonGrid-row {
            display: flex;
            flex-direction: row;
            background-color: lightsteelblue;
            align-items: center;
            justify-content: center;
            width: 100%;

            .ButtonGrid-label {
                width: 20px;
                margin-right: 5px;
            }
            
            .ButtonGrid-seat {
                background-color: royalblue
            }
        }
    }
}
