.Header-box {
    text-align: center;
    background-color: #282c34;
    min-height: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(14px + 1vmin);
    color: white;
}