.HealthCheckWidget-box {
  display: flex;
  flex-direction: row-reverse;
  background-color: lightgray;
  font-size: calc(7px + 1vmin);

  .report {
    text-align: right;
    display: flex;
    flex-direction: row;
    font-size: 1em;

    .segment {
      border: 1px solid black;
      margin: 2px;
      padding: 2px;

      #error {
        color: red;
        font-weight: bold;
      }
    }
  }
}
