%tristate-button-shared {
    width: 80px;
    height: 40px;
    text-align: center;
    margin: 5px;
}

.empty {
    @extend %tristate-button-shared;
    opacity: 70%;
    border-color: black;
    background-color: gray;
}

.enabled {
    @extend %tristate-button-shared;
    border-color: darkgreen;
    background-color: greenyellow;
    font-weight: bold;
}

.disabled {
    @extend %tristate-button-shared;
    border-color: orange;
    background-color: yellow;
}
